*{
    margin: 0;
    padding: 0;
    background:#fff;
}

.texto{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #dc0019;
    margin: 30px auto;
    padding: 20px;
    text-align: center;
    text-transform: uppercase;
    font-size: 35px;
}